name: limpeza de cspell.json

on:
  workflow_dispatch:
  schedule:
    # "às 00:00 do dia 1 do mês de julho." https://crontab.guru/#0_0_1_7_*
    - cron: "0 0 1 7 *"

permissions:
  pull-requests: write
  contents: write

jobs:
  run:
    name: limpeza de cspell.json
    if: github.event_name != 'schedule' || github.repository == 'prettier/prettier'
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: configuração do node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          cache: "yarn"

      - name: instalação de dependências
        run: yarn install --immutable

      - name: execução de script
        run: node scripts/clean-cspell.js

      - name: configuração da env de data atual
        run: echo "CURRENT_DATE=$(date +'%Y-%m-%d')" >> "$GITHUB_ENV"

      - uses: peter-evans/create-pull-request@271a8d0340265f705b14b6d32b9829c1cb33d45e # v7.0.8
        with:
          commit-message: limpeza de cspell.json (${{ env.CURRENT_DATE }})
          branch: automated-cleanup-cspell-${{ env.CURRENT_DATE }}
          branch-suffix: timestamp
          title: limpeza de cspell.json (${{ env.CURRENT_DATE }})